<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Artical</display-name>
  <welcome-file-list>
    <welcome-file>a.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>me.ybleeho.web.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>me.ybleeho.web.IndexServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/goIndex</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>articalServlet</servlet-name>
    <servlet-class>me.ybleeho.web.ArticalServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>articalServlet</servlet-name>
    <url-pattern>/artical</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>commentServlet</servlet-name>
  	<servlet-class>me.ybleeho.web.CommentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>commentServlet</servlet-name>
  	<url-pattern>/comment</url-pattern>
  </servlet-mapping>
 </web-app>